<!DOCTYPE html>
<html encoding="utf-8">
  <head>
    <title>Nilenso Software <%= title_of_the_page_if_it_needs_to_be_shown %></title>
    <meta charset="utf-8">
    <!-- seo meta -->
    <meta name='keywords'
    content='Nilenso, Ruby, Ruby On Rails, Rails Outsourcing, Offshoring, India, Bangalore, Agile, Open Source Software, TDD, Test Driven Development BDD, Continuous Integration, DevOps, Software Consulting'/>
    <meta name='description'
    content="Nilenso is an employee-owned software cooperative. We ship beautiful, fully-tested applications for you every day."/>

    <!-- facebook meta -->
    <meta property="og:title" content="Nilenso Software"/>
    <meta property="og:url" content="http://nilenso.com"/>
    <meta property="og:site_name" content="Nilenso Software"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://nilenso.com/nilenso-200.png"/>
    <meta property="og:description"
    content="Nilenso is an employee-owned software cooperative. We ship beautiful, fully-tested applications for you every day."/>

    <!-- twitter meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nilenso">
    <meta name="twitter:title" content="Nilenso Software">
    <meta name="twitter:image" content="http://nilenso.com/nilenso-200.png">
    <meta name="twitter:description"
    content="Nilenso is an employee-owned software cooperative. We ship beautiful, fully-tested applications for you every day.">

    <!-- mobile-friendly -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

   <link rel='shortcut icon' type='image/x-icon' href='favicon.png'/>

    <!-- site scripts and styles -->
    <%= stylesheet_link_tag "reset", "font-awesome", "nilenso", "people", "portfolio", "jquery.navobile", "scrollnav", "opensource", "decisions" %>
    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag  "jquery-2.0.3.min.js" %>
    <%= javascript_include_tag  "jquery.bullseye.js" %>
    <%= javascript_include_tag  "jquery.lazyloadxt.min.js" %>
    <%= javascript_include_tag  "jquery.lazyloadxt.extra.min.js" %>
    <%= javascript_include_tag  "jquery.navobile.min.js" %>
    <%= javascript_include_tag  "jquery.scrollnav.js" %>

    <!-- Typekit fonts -->
    <script type="text/javascript" src="//use.typekit.net/xgt4lgm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta name="google-site-verification" content="Ohyg8o6ZXcszxwE6yROBRfrhntJVmkAHUc0QLDzjs58" />
  </head>

  <body>
    <header class="nilenso-header">
      <i class="show-navigation page-link navobile-mobile-only icon-list"></i>
      <div class="header-logo <%= header_visibility_depending_on_homepage_or_not %>">
        <img class="header-logo-image" src="/nilenso-200.png" />
        <a class="header-link logo-name" href="/">nilenso</a>
      </div>

      <div class="page-links">
        <a class="header-link page-link page-link1 <%= active?('Home') %>" href="/">Home</a>
        <a class="header-link page-link page-link2 <%= active?('People') %>" href="/people.html">People</a>
        <a class="header-link page-link page-link3 <%= active?('Technical Details of Recent Projects') %>" href="/recent-tech.html">Tech</a>
        <a class="header-link page-link page-link4 <%= active?('Careers') %>" href="/careers.html">Careers</a>
        <div class="page-link dropdown">
          <span class="header-link">More »</span>
          <div id="myDropdown" class="dropdown-content">
            <a class="header-link page-link <%= active?('Blog') %>" href="http://blog.nilenso.com">Blog</a>
            <a class="header-link page-link <%= active?('Talks') %>" href="/talks.html">Talks</a>
            <a class="header-link page-link <%= active?('Open Source') %>" href="/opensource.html">Open Source</a>
            <a class="header-link page-link <%= active?('Decisions') %>" href="/decisions">Decisions</a>

            <a class="header-link page-link <%= active?('Alumni') %>" href="/alumni.html">Alumni</a>
          </div>
        </div>
      </div>
    </header>

    <div class="content">
      <!-- Render partial -->
      <%= yield %>
    </div>

    <script>
      // Google Analytics
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-43704022-1', 'nilenso.com');
      ga('send', 'pageview');

      $(document).ready(function() {
        // open external links in new tabs
        var host = window.location.hostname;
        $("body").on("click", "a", function() {
          if (this.protocol.indexOf("http") == 0 && this.hostname != host) {
            window.open(this.href, "_blank");
            return false;
          } else {
            return true;
          }
        });

        $('.page-links').navobile({
          'content': '.content',
          'cta': '.show-navigation',
          'changeDOM': true
        });
        new ScrollNavigation({
          pageSectionSelector: ".navigableSection",
          viewportOffsetTop: 200,
          viewportOffsetHeight: -500
        });
      });
    </script>
  </body>
</html>
