---
title: Alumni
---

<div class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb"><a href="people.html">People</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Alumni</li>
  </ul>

  <div class="hero">
    <div class="hero-content">
      <h1 class="heading">Alumni</h1>
      <p class="byline">
        The masterminds behind all our successful projects.
        You can also meet our extraordinary <a href="">Alumni</a>
      </p>
    </div>
  </div>

  <section class="team">
    <ul class="team-members">
      <% data.alumni.each do |person| %>
      <li class="team-member">
        <div class="team-member-photo-and-name">
          <img alt="<%= person.nick %>" src="<%= person.picture %>" />
          <div class="team-member-name">
            <h3><%= person.name %></h3>
            <hr class="divider" />
            <ul class="social-links">
              <li class="social-link"><a href="<%= person.twitter %>"><i class="fab fa-twitter-square"></i></a></li>
              <li class="social-link"><a href="<%= person.github %>"><i class="fab fa-github-square"></i></a></li>
              <% if person.linkedin.present? %>
              <li class="social-link"><a href="<%= person.linkedin %>"><i class="fab fa-linkedin-square"></i></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <p>
          <%= person.bio %>
        </p>
      </li>
      <% end %>
    </ul>
  </section> 
</div>
