---
title: Alumni
---

<div class="people section">
  <h2 class="section-heading">Alumni</h2>

  <% data.alumni.each do |person| %>
    <a name="<%= person.nick %>"></a>
    <% content_tag "div", class: "bordered-section person navigableSection", data: {section_link: person.nick, img_src: person.picture, img_class: "scroll-person-image", section_title: person.nick } do %>
      <div class="person-above">
        <a href="alumni.html#<%= person.nick %>" class="person-anchor-link">
          <img alt="<%= person.nick %>" class="person-image" src="<%= person.picture %>"/>
        </a>

        <p class="person-name"><%= person.name %></p>

        <p class="person-social-links">
          <a class="person-social-link" href="<%= person.github %>"><i class="icon-github"></i></a>
          <a class="person-social-link" href="<%= person.twitter %>"><i class="icon-twitter"></i></a>
          <% if person.linkedin.present? %>
            <a class="person-social-link" href="<%= person.linkedin %>"><i class="icon-linkedin"></i></a>
          <% end %>
        </p>
      </div>

      <div class="person-below">
        <div class="person-bio section-content">
          <%= person.bio %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="bordered-section"></div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>
</div>
