---
title: Home
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="images/nilenso_logos/nilenso_logo.png">
</div>

<div class="about bordered-section">
  <h1 class="section-content"><a class="name-link" href="name.html">Nilenso</a> is an employee-owned software
    cooperative based out of Bangalore, India. We ship beautiful, fully-tested applications for you
    everyday.
  </h1>
</div>

<div class="startups section">
  <h2 class="section-heading">We work with startups</h2>

  <p class="section-content">
    We engage with you as your technical partner, and can help take
    your product all the way from inception to launch, ensuring consistent
    delivery of well-designed, well-tested software. We can transition to your team as
    you grow, or continue refining your product through ongoing iterations.
  </p>

  <p class="section-content">
    We work with Ruby on Rails and Javascript, build responsive web sites,
    and ship apps on Android.
  </p>
  
  <div class="casestudies bordered-section">
    <% data.portfolios.each do |portfolio| %>
      <a class="person-link casestudy-client-logo" href="<%= portfolio.company_link %>" target="_blank">
        <img class="testimonial-logo" src="<%= portfolio.logo %>"/>
      </a>
    <% end %>
  </div>
</div>

<div class="process bordered-section">
  <h2 class="section-heading">We ship everyday</h2>

  <p class='section-content'>
    We follow Extreme Programming (XP) practices to build reliable software fast.
    We deploy working software everyday, communicate effectively through daily standups, work in pairs, test drive code,
    and are transparent about everything we do.
  </p>
</div>

<div class="people bordered-section">
  <h2 class="section-heading">We are great people to work with</h2>

  <p class="section-content">
    We are expert web developers with extensive experience in Ruby, Rails, and Javascript.
    We have built and launched products, regularly speak at industry conferences, sing
    carnatic music, and climb mountains.
  </p>

  <p class="people-more section-content-more">
    <% data.people.each do |person| %>
      <a class="person-link" href="people.html#<%= person.nick %>">
        <img alt="<%= person.name %> 200" class="human" src="images/people/<%= person.nick %>-200.png" />
      </a>
    <% end %>
  </p>
</div>
<div class="get-in-touch bordered-section">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">Email us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>. We'll respond to you within one business day.</p>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>

  <div class="contact-map">
    <iframe width="700" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=77.63745725154877%2C12.980698722621153%2C77.63971030712128%2C12.982632828882709&amp;layer=mapnik&amp;marker=12.981665777633317%2C77.63858377933502" style="border: 1px solid black"></iframe><br/>
    <small>
      view larger map in
      <a target="_blank" href="http://www.openstreetmap.org/?mlat=12.98166&mlon=77.63859#map=19/12.98166/77.63859">OSM</a>,
      <a target="_blank" href="https://www.google.com/maps/place/Nilenso+Software/@12.981954,77.638743,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae16bb228baf85:0xf43ad1d3efbc4a17">GOOG</a>
    </small>
  </div>
</div>

<script>
  // Show the Nilenso header logo when you scroll past the main logo
  $(window).scroll(function () {
    var top = $(window).scrollTop();
    var header = $(".header-logo");
    var showLogoAtHeight = 180;
    if(top > showLogoAtHeight) {
      header.addClass("visible");
    } else {
      header.removeClass("visible");
    }
  });
</script>
