---
title: Home
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="images/nilenso_logos/nilenso_logo.png">
</div>

<div class="about bordered-section">
  <h1 class="section-content"><a class="name-link" href="name.html">Nilenso</a> is an employee-owned software
    cooperative based out of Bangalore, India. We ship beautiful, fully-tested applications for your organization.
  </h1>
</div>

<div class="process bordered-section">
  <h2 class="section-heading">We are evolving</h2>

  <p class="section-content">It is our mission to continuously do better. We have grown a small web shop into a team of developers and designers tackling challenges in data science and experimentation, machine learning runtimes, complex systems integration, large data set analysis, and low-latency realtime systems. Our love of technology is born from helping our clients solve difficult problems and we would love to hear from you if you have a challenge for us.</p>

  <p class="section-content">For us, self-improvement has another facet: impact. We want to improve the world around us.
  Software is emerging as a key component of infrastructure, international development, open government, transportation, agriculture, and the arts. The space is endless.</p>

  <p class="section-content">
  Our primary goal is to find people and organizations to partner with who feel the same way. If you prefer working on open source, with open data, in open and transparent fields, we want to talk to you.</p>
</div>

<div class="people bordered-section">
  <h2 class="section-heading">We are great people to work with</h2>

  <p class="section-content">
    We are expert developers with extensive experience in Clojure, Ruby, Go, Haskell, Elixir, and Javascript.
    We have built and launched products, regularly speak at industry conferences, sing
    carnatic music, and climb mountains. Introduce yourself to any one of us. We want to <a href="/careers.html">talk</a> to you.
  </p>

  <p class="people-more section-content-more">
    <% data.people.each do |person| %>
      <a class="person-link" href="people.html#<%= person.nick %>">
        <img alt="<%= person.name %> 200" class="human grayscale" src="<%= person.picture %>" />
      </a>
    <% end %>
  </p>
</div>


<div class="startups section">
  <h2 class="section-heading">People we have worked with</h2>

  <div class="casestudies bordered-section">
    <% data.portfolios.each do |portfolio| %>
      <a class="person-link casestudy-client-logo" href="<%= portfolio.company_link %>" target="_blank">
        <img class="testimonial-logo grayscale" src="<%= portfolio.logo %>"/>
      </a>
    <% end %>
  </div>
</div>

<div class="get-in-touch bordered-section">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">Email us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>.</p>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>

  <div class="contact-map">
    <iframe width='700' height='250' frameBorder='0' src='https://a.tiles.mapbox.com/v4/touchstoneist.l85kd6ba/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidG91Y2hzdG9uZWlzdCIsImEiOiJ2OGR5bHhjIn0.WA2NKklxU9FyuU2q44MdjQ'></iframe>
    <small>
      view larger map in
      <a target="_blank" href="http://www.openstreetmap.org/?mlat=12.98166&mlon=77.63859#map=19/12.98166/77.63859">OSM</a>,
      <a target="_blank" href="https://www.google.com/maps/place/Nilenso+Software/@12.981954,77.638743,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae16bb228baf85:0xf43ad1d3efbc4a17">GOOG</a>
    </small>
  </div>
</div>

<script>
  // Show the Nilenso header logo when you scroll past the main logo
  $(window).scroll(function () {
    var top = $(window).scrollTop();
    var header = $(".header-logo");
    var showLogoAtHeight = 180;
    if(top > showLogoAtHeight) {
      header.addClass("visible");
    } else {
      header.removeClass("visible");
    }
  });
</script>
