---
title: Home
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="images/nilenso_logos/nilenso_logo.png">
</div>

<div class="about bordered-section">
  <h1 class="section-content"><a class="name-link" href="name.html">Nilenso</a> is an employee-owned software
    cooperative based out of Bangalore, India. We ship beautiful, fully-tested applications for you.
  </h1>
</div>

<div class="process bordered-section">
  <h2 class="section-heading">You are here for one of two reasons.</h2>

  <p class="section-content">nilenso is not a large company. If we had to guess, you are reading this webpage because you heard of us on Twitter, saw us speak at a conference, or our professional circles intersect somehow. Because of this, you are here to satisfy one of two curiosities: First, you know we are a software company and you would like to hire a software company. Second, you know we are a software company and you would like to work at a software company. On the surface, we appear much like any other small consultancy. Hiring and sales are the lifeblood of small software consultancies.</p>

  <p class="section-content">One of these two reasons has brought you here to learn about your new acquaintance. This is the point at which one could be tempted to rattle off facts: We write computer programs in Clojure and Javascript. We deploy regularly. We only work on T&amp;M or retainer. We talk to our customers every day. Our rates are $60-$90/hour. We love tests. Blah, blah, blah.</p>

  <p class="section-content">There's a good chance you know all of this and could assume much more without straying far from the mark. What you <em>don't</em> know is who we are. We'd like a chance to describe our collective selves to you.</p>

  <h3 class="section-subheading">We, like you, have beliefs.</h3>

  <p class="section-content">We believe the world is improving. We also believe we can be a part of its continued growth. When we reflect on what really matters to us, the conversation is far more complex and fragmented than Google's pithy motto. To simply claim we "won't be evil" we must prepare the ground with a definition of "evil". A modus operandi dependent on interpretation and semantics leaves us feeling a tad... hollow. We can be more concrete.</p>

  <p class="section-content"><strong>We love openness.</strong> Open data, open source, open access, open channels of communication -- these are the staples of nerds like us. It's equally important for us to remain open to ideas: the ideas of everyone who works here and the ideas of everyone whose lives we touch. One might say it's actually <em>more</em> important that we ask ourselves: why? Why open by default? We decided early on that a fundamental tenet of nilenso would be education. Hindrances to education -- and we consider closed information one such hindrance -- are our responsibility to abolish if we are being honest with ourselves.</p>

  <p class="section-content"><strong>We will trace the story of Endymion.</strong> We are not stuck on typefaces and the perfect colour... although we love those, too. We want to achieve harmony in our work. Betwixt true Simplicity and true Beauty lies the designer's utopia. We strive to find this place accepting and loving the fact that we never will. Image and sound are here, now: on our minds. Our days are spent in the tasteless. Code is born in the runtime, hidden just beneath our fingertips but we will only ever feel it as we run through the fields of our imagination. To capture and tame complexity on this savanna is our daily joy.</p>

  <p class="section-content"><strong>We want to solve.</strong> We will not shy away from a chance to piece together a puzzle. They come in all shapes. Today's puzzle may reveal tomorrow's. It may persist only in the mind. Or it may mean taking the time to wash our dishes. Our joy in constructing new solutions discriminates not against the nature of the challenge. We have spent as many evenings trying to teach a machine to comprehend a guitar and creatively compose Carnatic music as we have spent lunch hours meditating or workdays spent maintaining our distributed systems clusters. Although we are excited by society's many opportunities, we realize patience and persistence are how their underlying problems are overcome. Bangalore's garbage, traffic, and pollution problems require grassroots solutions. We compost, recycle, ride bicycles, and prefer solar power. Slowly, our actions will educate our neighbours, but there are other axes we pursue: Data, artificial intelligence, and math are wonderful tools and a new world of unfathomably distributed, mobile, accessible computing means we can inform change like never before. Education, infrastructure, language, music, and maps excite us more than anything. We will spend all our energy creating software for these fields one day.</p>

  <p class="section-content"><strong>We are doing this now.</strong> It is a fool's errand to save and collect in the hopes of one day <em>eventually</em> making a difference. One must make a difference now, in everything one does. We are trying.</p>

</div>

<div class="people bordered-section">
  <h2 class="section-heading">We are great people to work with</h2>

  <p class="section-content">
    We are expert developers with extensive experience in Clojure, Ruby, Rails, and Javascript.
    We have built and launched products, regularly speak at industry conferences, sing
    carnatic music, and climb mountains. Introduce yourself to any one of us. We would like to talk to you.
  </p>

  <p class="people-more section-content-more">
    <% data.people.each do |person| %>
      <a class="person-link" href="people.html#<%= person.nick %>">
        <img alt="<%= person.name %> 200" class="human grayscale" src="images/people/<%= person.nick %>-200.png" />
      </a>
    <% end %>
  </p>
</div>


<div class="startups section">
  <h2 class="section-heading">People we have worked with</h2>

  <div class="casestudies bordered-section">
    <% data.portfolios.each do |portfolio| %>
      <a class="person-link casestudy-client-logo" href="<%= portfolio.company_link %>" target="_blank">
        <img class="testimonial-logo grayscale" src="<%= portfolio.logo %>"/>
      </a>
    <% end %>
  </div>
</div>

<div class="get-in-touch bordered-section">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">Email us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>.</p>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>

  <div class="contact-map">
    <iframe width='700' height='250' frameBorder='0' src='https://a.tiles.mapbox.com/v4/touchstoneist.l85kd6ba/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidG91Y2hzdG9uZWlzdCIsImEiOiJ2OGR5bHhjIn0.WA2NKklxU9FyuU2q44MdjQ'></iframe>
    <small>
      view larger map in
      <a target="_blank" href="http://www.openstreetmap.org/?mlat=12.98166&mlon=77.63859#map=19/12.98166/77.63859">OSM</a>,
      <a target="_blank" href="https://www.google.com/maps/place/Nilenso+Software/@12.981954,77.638743,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae16bb228baf85:0xf43ad1d3efbc4a17">GOOG</a>
    </small>
  </div>
</div>

<script>
  // Show the Nilenso header logo when you scroll past the main logo
  $(window).scroll(function () {
    var top = $(window).scrollTop();
    var header = $(".header-logo");
    var showLogoAtHeight = 180;
    if(top > showLogoAtHeight) {
      header.addClass("visible");
    } else {
      header.removeClass("visible");
    }
  });
</script>
