---
title: Open Source
---

<div>
  <h2 class="section-heading">Open Source</h2>

  <div class="section">
    <h3 class="section-subheading">Hosted</h3>
    <section class="hosted-projects">
	    <% data.opensource.hosted.each do |project| %>
	    <div class="hosted-project">
			<div class="project-branding">
				<div class="project-name">
					<%= project.name %>
				</div>
				<div class="project-image">
					<img src="/images/nilenso_logos/<%= project.logo %>" class="project-logo"/>
				</div>
				<div class="project-links">
					<% if project.website.present? %>
						<a href="<%= project.website %>">website</a> | <a href="<%= project.source %>">source</a>
					<% else %>
						<a href="<%= project.source %>">source</a>
					<% end %>
				</div>
				<div class="project-tags">
					<% project.tags.each do |tag| %><div class="project-tag"><%= tag %></div><% end %>
				</div>
			</div>
			<div class="project-description">
				<%= project.description %>
			</div>
	    </div>
	    <% end %>
    </section>


    <h3 class="section-subheading">Production Ready</h3>

	<div class="two-col-layout">
		<% data.opensource.production_ready.each do |project| %>
			<div class="project-box production-ready-project">
				<div class="project-name">
					<%= project.name %>
				</div>
				<div class="project-links">
					<% if project.website.present? %>
						<a href="<%= project.website %>">website</a> | <a href="<%= project.source %>">source</a>
					<% else %>
						<a href="<%= project.source %>">source</a>
					<% end %>
				</div>
				<div class="project-tags">
					<% project.tags.each do |tag| %><div class="project-tag"><%= tag %></div><% end %>
				</div>
				<div class="project-description">
					<%= project.description %>
				</div>
			</div>
		<% end %>
	</div>

    <h3 class="section-subheading">Contributed</h3>
    <div class="two-col-layout">
    <% data.opensource.contributed.each do |project| %>
    <div class="project-box contributed-project">
      <div class="project">
	  <div class="section-miniheading">
	   <%= project.name %>
	  </div>
	  <div class="branding-elem">
	    <% if project.website.present? %>
	    <a href="<%= project.website %>">website</a> | <a href="<%= project.source %>">source</a>
	    <% else %>
	    <a href="<%= project.source %>">source</a>
	    <% end %>
	  </div>
	  <div class="branding-elem">
	    <% project.tags.each do |tag| %><div class="project-tag"><%= tag %></div><% end %>
	  </div>

	  <div class="branding-elem">
	    <%= project.description %>
	  </div>
      </div>
    </div>
    <% end %>
    </div>

    <h3 class="section-subheading">Less Loved :(</h3>
    <div class="two-col-layout">
    <% data.opensource.less_loved.each do |project| %>
    <div class="project-box less-loved-project">
      <div class="project">

	  <div class="section-miniheading">
	   <%= project.name %>
	  </div>
	  <div class="branding-elem">
	    <% if project.website.present? %>
	    <a href="<%= project.website %>">website</a> | <a href="<%= project.source %>">source</a>
	    <% else %>
	    <a href="<%= project.source %>">source</a>
	    <% end %>
	  </div>

	  <div class="branding-elem">
	    <% project.tags.each do |tag| %><div class="project-tag"><%= tag %></div><% end %>
	  </div>

	  <div class="branding-elem">
	    <%= project.description %>
	  </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>