---
title: People
---

<div class="people section">
  <h2 class="section-heading">Our Team</h2>

  <% data.people.each do |person| %>
    <div class="section two-column person" id="<%= person.nick %>">

      <div class="column person-left">
        <a href="people.html#<%= person.nick %>">
          <img alt="<%= person.nick %>" class="person-image" src="<%= person.picture %>"/>
        </a>
        <p class="person-name"><%= person.name %></p>
        <p class="person-social-links">
          <a class="person-social-link" href="<%= person.github %>"><i class="icon-github"></i></a>
          <a class="person-social-link" href="<%= person.twitter %>"><i class="icon-twitter"></i></a>
          <a class="person-social-link" href="<%= person.linkedin %>"><i class="icon-linkedin"></i></a>
        </p>
      </div>

      <div class="column person-right">
        <p class="person-bio section-content">
          <%= person.bio %>
        </p>
      </div>
    </div>
  <% end %>
</div>
