---
title: People
---
<div class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Team</li>
  </ul>

  <div class="hero">
    <div class="hero-content">
      <h1 class="heading">Team</h1>
      <p class="byline">
        The masterminds behind all our successful projects.
        You can also meet our extraordinary <a href="">Alumini</a>
      </p>
    </div>
  </div>

  <%# <div class="exclusive-section featured">
    <h2>Career opportunities at Nilenso</h2>
    <p>
      We're passionate, curious folks looking to work with passionate, curious folks.
      We want people to join the team who are as excited as we are to help build the platform
      that empowers the future generation of creators to be successful online.
    </p>
    <a href="" class="featured-link">Career Page <i class="fas fa-long-arrow-alt-right"></i></a>
  </div> %>

  <section class="team">
    <ul class="team-members">
      <% data.people.each do |person| %>
      <li class="team-member">
        <div class="team-member-photo-and-name">
          <img class="team-member-photo" alt="<%= person.nick %>" src="<%= person.picture %>" />
          <div class="team-member-name">
            <h3><%= person.name %></h3>
            <hr class="divider" />
            <ul class="social-links">
              <li class="social-link"><a href="<%= person.twitter %>"><i class="fab fa-twitter-square"></i></a></li>
              <li class="social-link"><a href="<%= person.github %>"><i class="fab fa-github-square"></i></a></li>
              <% if person.linkedin.present? %>
              <li class="social-link"><a href="<%= person.linkedin %>"><i class="fab fa-linkedin-square"></i></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <p>
          <%= person.bio %>
        </p>
      </li>
      <% end%>
    </ul>
  </section>

  <ul class="paginations">
    <li class="pagination">
      <a href="/talks.html" class="pagination-link">
        <h4 class="pagination-heading"><i class="fad fa-podium-star"></i>Conference Talks</h4>
        <p>Check our talks on recent technology and work we have done</p>
      </a>
    </li>
    <li class="pagination">
      <a href="https://blog.nilenso.com" class="pagination-link">
        <h4 class="pagination-heading"><i class="fad fa-blog"></i>Blog</h4>
        <p>Our masterminds behind all successful projects</p>
      </a>
    </li>
  </ul>
</div>