---
title: People
---

<div class="people section">
  <h2 class="section-heading">Ensonians</h2>

  <% data.people.each do |person| %>
    <a name="<%= person.nick %>"></a>
    <div class="bordered-section person" data-section="<%= person.nick %>">

      <div class="person-above">
        <a href="people.html#<%= person.nick %>" class="person-anchor-link">
          <img alt="<%= person.nick %>" class="person-image" src="<%= person.picture %>"/>
        </a>

        <p class="person-name"><%= person.name %></p>

        <p class="person-social-links">
          <a class="person-social-link" href="<%= person.github %>"><i class="icon-github"></i></a>
          <a class="person-social-link" href="<%= person.twitter %>"><i class="icon-twitter"></i></a>
          <% if person.linkedin.present? %>
            <a class="person-social-link" href="<%= person.linkedin %>"><i class="icon-linkedin"></i></a>
          <% end %>
        </p>
      </div>

      <div class="person-below">
        <div class="person-bio section-content">
          <%= person.bio %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="scroll-nav">
  <% data.people.each do |person| %>
    <a href="#<%= person.nick %>" class="scroll-nav-section-link">
      <div class="scroll-nav-section" data-nav="<%= person.nick %>">
        <img class="scroll-nav-section-img scroll-person-image" src="<%= person.picture %>"/>
        <span class="scroll-nav-tooltip"><%= person.nick %></span>
      </div>
    </a>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    setUpScrollNav(<%= data.people.count %> + 1);
  });
</script>
