---
title: People
---

<div class="conference-talks bordered-section">
  <a name="conference-talks"></a>
  <h2 class="section-heading">Our Conference talks</h2>

  <% data.talks.each do |talk| %>
    <div class="conference-talk">
      <a href="https://www.youtube.com/watch?v=<%= talk.youtube_id %>" target="_blank">
        <img class="talk-thumbnail" src="http://img.youtube.com/vi/<%= talk.youtube_id %>/default.jpg"/>
      </a>
      <div class="talk-info">
        <p class="talk-title"><%= talk.title %></p>
        <p class="talk-speakers"><%= talk.speakers %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="people section">
  <h2 class="section-heading">Ensonians</h2>

  <% data.people.each do |person| %>
    <a name="<%= person.nick %>"></a>
    <div class="bordered-section person">

      <div class="person-above">
        <a href="people.html#<%= person.nick %>" class="person-anchor-link">
          <img alt="<%= person.nick %>" class="person-image" src="<%= person.picture %>"/>
        </a>

        <p class="person-name"><%= person.name %></p>

        <p class="person-social-links">
          <a class="person-social-link" href="<%= person.github %>"><i class="icon-github"></i></a>
          <a class="person-social-link" href="<%= person.twitter %>"><i class="icon-twitter"></i></a>
          <% if person.linkedin.present? %>
            <a class="person-social-link" href="<%= person.linkedin %>"><i class="icon-linkedin"></i></a>
          <% end %>
        </p>
      </div>

      <div class="person-below">
        <div class="person-bio section-content">
          <%= person.bio %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="scroll-nav">
  <a class="scroll-nav-section" href="#conference-talks">
    <img class="scroll-nav-section-img" src="http://img.youtube.com/vi/4A2nAK6H6BU/default.jpg"/>
    <span class="scroll-nav-tooltip">Conference Talks</span>
  </a>
  <% data.people.each do |person| %>
    <a class="scroll-nav-section" href="#<%= person.nick %>">
      <img class="person-image scroll-nav-section-img" src="<%= person.picture %>"/>
      <span class="scroll-nav-tooltip"><%= person.nick %></span>
    </a>
  <% end %>
</div>
