---
title: Portfolio
---

<div class="spacer"></div>
<div class="section portfolio">
  <% data.portfolios.each do |portfolio| %>
    <div class="testimonial bordered-section" id="<%= portfolio.company_nick %>">
      <div class="portfolio-above">
        <a href="<%= portfolio.company_link %>" target="_blank">
          <img class="testimonial-logo" src="<%= portfolio.logo %>"/>
        </a>
      </div>

      <div class="testimonial-quote-container">
        <p class="testimonial-quote-text section-content">
          <i class="quote left">&#8220;</i><%= portfolio.quote %><i class="quote right">&#8221;</i>
        </p>
        <p class="testimonial-quoter section-content">
          <%= portfolio.quoter %>,</br><%= portfolio.company %>
        </p>
      </div>
    </div>
  <% end %>
</div>
