---
title: Portfolio
---

<div class="spacer"></div>
<div class="section portfolio">
  <h2 class="section-heading">Portfolio</h2>

  <% data.portfolios.each do |portfolio| %>
    <div class="testimonial bordered-section">
      <div class="portfolio-above">
        <a href="<%= portfolio.company_link %>" target="_blank">
          <img class="testimonial-logo" src="<%= portfolio.logo %>"/>
        </a>
      </div>

      <div class="testimonial-quote-container">
        <p class="testimonial-quote-text section-content">
          <i class="icon-quote-left"></i>
          <%= portfolio.quote %>
        </p>
        <p class="testimonial-quoter section-content">
          <%= portfolio.quoter %>,</br><%= portfolio.company %>
        </p>
      </div>
    </div>
  <% end %>
</div>
