---
title: Portfolio
---

<div class="spacer">

  <div class="section">
    <h2 class="section-heading">Portfolio</h2>
  </div>

  <% data.portfolios.each do |portfolio| %>
    <div class="portfolio-testimonial section">
    <a href="<%= portfolio.company_link %>" target="_blank"><img class="testimonial-logo" src="<%= portfolio.logo %>"/></a>

    <div class="testimonial-quote-container section-content">
      <p class="testimonial-quote-text">
      <%= portfolio.quote %>
      </p>

      <p class="testimonial-quoter">
        <%= portfolio.quoter %>,</br><%= portfolio.company %>
      </p>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
