---
title: Portfolio
---

<div class="section portfolio">
  <h2 class="section-heading">Portfolio</h2>

  <% data.portfolios.each do |portfolio| %>
    <div class="testimonial bordered-section" id="<%= portfolio.company_nick %>" data-section="<%= portfolio.company_nick %>">
      <div class="portfolio-above">
        <a href="<%= portfolio.company_link %>" target="_blank">
          <img class="testimonial-logo" src="<%= portfolio.logo %>"/>
        </a>
      </div>

      <div class="testimonial-quote-container">
        <p class="testimonial-quote-text section-content">
          <i class="quote left">&#8220;</i><%= portfolio.quote %><i class="quote right">&#8221;</i>
        </p>
        <p class="testimonial-quoter section-content">
          <%= portfolio.quoter %>,</br><%= portfolio.company %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="scroll-nav">
  <% data.portfolios.each do |portfolio| %>
    <a href="#<%= portfolio.company_nick %>" class="scroll-nav-section-link">
      <div class="scroll-nav-section" data-nav="<%= portfolio.company_nick %>">
        <img class="scroll-nav-section-img" src="<%= portfolio.logo %>"/>
        <span class="scroll-nav-tooltip"><%= portfolio.company_short_name %></span>
      </div>
    </a>
  <% end %>
</div>
