---
title: Talks
---

<div class="conference-talks section">
  <h2 class="section-heading">Conference Talks</h2>

  <% data.talks.each do |talk| %>
    <a name="<%= talk.title %>"></a>
    <% content_tag "div", class: "bordered-section talk", data: {section_link: talk.title, section_title: talk.title } do %>        
      <div class="talk-video">
        <a href="https://www.youtube.com/watch?v=<%= talk.youtube_id %>" target="_blank">
          <img src="https://img.youtube.com/vi/<%= talk.youtube_id %>/maxresdefault.jpg" style="width: 250px"/>
        </a>
      </div>
      <div class="talk-info">
        <div class="talk-title">
          <a href="https://www.youtube.com/watch?v=<%= talk.youtube_id %>" target="_blank">
            <%= talk.title %>
          </a>
        </div>
        <div class="talk-speakers">
          <% if talk.speakerhash %>
            <a href="/people.html#<%= talk.speakerhash %>"><%= talk.speakers %></a>
          <% else %>
            <%= talk.speakers %>
          <% end %>
        </div>
        <div class="talk.venue"><%= talk.venue %></div>
      </div>
   <% end %>
  <% end %>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>
</div>
