---
title: Talks
---

<div class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb"><a href="work.html">Projects</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Talks</li>
  </ul>

  <div class="">
    <h2 class="section-heading">Conference Talks</h2>
    <p class="section-byline">Frequent conference attendance is our baseline</p>
    <div class="section-content flex-column">
      <p>
        In the last few years, we sponsored and attended a ton of conferences all over the world:
        IN/Clojure, Clojure/conj, Euroclojure, Clojure/West, StrangeLoop, Functional Conf, FOSSMeet,
        RubyConf India, JSFoo, rootconf, RubyConf San Diego, React Conf SF, GCRC, Fifth Elephant, and
        probably one or two we've forgotten. We took the lead in organizing IN/Clojure (the only Clojure
        conference in Asia) two years running.
      </p>
    </div>
  </div>

  <ul class="talks flex-column">
    <% data.talks.each do |talk| %>
      <li class="talk flex-row">
        <div class="talk-video">
          <iframe loading="lazy" width="100%" height="80%" src="https://www.youtube.com/embed/<%= talk.youtube_id %>" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>

        <div class="talk-content">
          <h3><%= talk.title %></h3>
          <ul class="tags">
            <li class="tag">clojure</li>
            <li class="tag">clojurescript</li>
            <li class="tag">react native</li>
          </ul>
          <p class="talk-host"><%= talk.venue %></p>
          <p class="talk-speaker"><span>by</span> <a href="people.html#<%= talk.speakerhash %>"><%= talk.speakers %></a></p>
          <%# Need to add condition if speaker is alumni %>
        </div>
      </li>
    <% end %>
  </ul>

  <ul class="paginations">
    <li class="pagination">
      <a href="people.html" class="pagination-link">
        <h4 class="pagination-heading"><i class="fad fa-users-crown"></i>People</h4>
        <p>Check our talks on recent technology and work we have done</p>
      </a>
    </li>
    <li class="pagination">
      <a href="https://blog.nilenso.com" class="pagination-link">
        <h4 class="pagination-heading"><i class="fad fa-blog"></i>Blog</h4>
        <p>Our masterminds behind all successful projects</p>
      </a>
    </li>
  </ul>
</div>
